# macOS
.DS_Store
.AppleDouble
.LSOverride

# File temporanei LaTeX
*.aux
*.bcf
*.blg
*.idx
*.ilg
*.ind
*.lof
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv

# File temporanei di compilatori/editor
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
.vscode/settings.json
